<h1>ようこそ</h1>
<p>ユーザー登録することで、企業の面接内容をご覧になることができます。</p>
<div class="container">
  <div class="search-form">
  <%= form_with mode: @post, url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
 <table class="table table-bordered m-2">
    <thead>
        <tr class="table-primary text-white">
          <th>企業名</th>
          <th>面接回数</th>
          <th>面接の種類</th>
          <th>メモ</th>
          <th>投稿日時</th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td>
          <%= link_to post_path(post) do %>
            <%= post.company_name %>
          <% end %>
          </td>
          <td><%= post.number %></td>
          <td><%= post.type %></td>
          <td><%= post.introduction %></td>
          <td><i class="far fa-clock"><%= post.created_at.strftime('%Y/%m/%d') %></i></td>

        </tr>
        <% end %>
    </tbody>
 </table>
</div>
