<!DOCTYPE html>
<html>
  <head>
    <title>InterviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><span class="apptitle">めんせつBook</span></a>
          <!--画面サイズを小さくなった場合、ナビゲーションリンクを表示-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ml-auto">
               <ul class="navbar-nav nav-lists">
                 <% if current_user %>
                 <li class="nav-item">
                   <%= link_to "ログアウト", logout_path, method: :delete, class: 'nav-link text-dark' %>
                 </li>
                 <li class="nav-item">

                 </li>
                 <% else %>
                 <li class="nav-item">
                   <%= link_to "新規登録", new_user_path, class: 'nav-link text-dark' %>
                 </li>
                 <li class="nav-item">
                   <%= link_to "ログイン", login_path, class: 'nav-link text-dark' %>
                 </li>
                 <% end %>
               </ul>
            </div>

          </div>
        </div>
      </nav>
    </header>
    <%= notice %>
    <%= alert %>
  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
